<section class="slider-area">
  <div class="slider-active">
    {% for slide in site.data.slides %}
      <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{slide.image_url}})">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="slider-content">
                <h1 data-animation="fadeInDown" data-delay=".2s">{{slide.heading_line_1}}<br>{{slide.heading_line_2}} <span>{{slide.heading_highlight}}</span></h1>
                <p data-animation="fadeInLeft" data-delay=".4s">{{slide.text}}</p>
                <a href="{{slide.button_url}}" class="btn" data-animation="fadeInUp" data-delay=".6s">{{slide.button_label}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>