---
layout: default
---
{% include header.html %}
<main>
    {% include slider.html %}
    {% include services.html %}
    {% include divider/contact.html %}
    {% include features.html %}
    {% include divider/counts.html %}
    <!-- {% include portfolios.html %} -->
    {% include portfolios.html %}
    <!-- {% include divider/testimonials.html %} -->
    <!-- {% include team_members.html %} -->
    <!-- {% include blog_area.html %} -->
    {% include divider/clients.html %}
</main>