<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>Let's discuss what we can <br>
                        do for your business</h3>
                    <div class="call-to-action">
                        <a href="/pages/contact" class="btn video-view">get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>