<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/mpx/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/mpx">Home</a></li>
        		<li><a href="/mpx/features">Features</a></li>
	        	<li><a href="/mpx/services">Services</a></li>
        		<li><a href="/mpx/cases">Case Studies</a></li>
        		<li><a href="/mpx/clients">Clients</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
          {{ content }}
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li>Email: <a href="mailto:info@mediapeers.com">info@mediapeers.com</a></li>
        		<li>Telephone: <a href="tel:+493081456070">+493081456070</a></li>
			</ul>
		</footer>
	</body>
</html>
