---
layout: page
---

<div class="services-area pt-100 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="service-details mb-40">
                          <h1>{{ page.title }}</h1>
                          {% if page.image %}
                          <img class="mt-20" src="{{ page.image }}" alt="{{ page.title }}">
                          {% endif %}
                        </div>
                        {{content}}
                    </div>
                </div>
            </div>
            <div class="col-xl-1 col-lg-1">
              &nbsp;
            </div>
            <div class="col-xl-3 col-lg-3">
             {% include sidebar/features.html %}
            </div>
        </div>
    </div>
</div>