<div class="widget">
    <h4 class="widget-title mt-15">Features</h4>
    <div class="sidebar-rc-post">
        <ul>
           {% for feature in site.features %}
           {% assign active = nil %}
           {% if page.url contains feature.url %}
               {% assign active = 'active' %}
           {% endif %}
           
            <li>
                <div class="rc-post-thumb">
                    <a href="{{feature.url}}">
                        <img src="{{feature.icon}}" alt="{{feature.title}}"/>
                    </a>
                </div>
                <div class="rc-post-content">
                    <h4>
                        <a href="{{feature.url}}#content" class="{{active}}">{{feature.title}}</a>
                    </h4>
                </div>
            </li>
           {% endfor %}
        </ul>
    </div>
</div>
