<section class="team-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Our Team</h2>
                    <p>We are an experienced team covering the entire spectrum of technologies and operations in the audiovisual media marketing and distribution sector. Our customers highly appreciate our passionate and responsive engagement. When working with us, you get the best people driving your business forward to the next level.</p>
                    <p><strong>Our team is your team as well</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/torsten.png" alt="Torsten Graf-Oettel">
                    </div>
                    <div class="team-info">
                        <h3>Torsten Graf-Oettel</h3>
                        <span>Managing Director</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/stefan.png" alt="Stefan Hauschildt">
                    </div>
                    <div class="team-info">
                        <h3>Stefan Hauschildt</h3>
                        <span>Chief Operating Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/johannes.png" alt="Johannes Götzinger">
                    </div>
                    <div class="team-info">
                        <h3>Johannes Götzinger</h3>
                        <span>Chief Technology Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/eno.png" alt="Enrico Thierbach">
                    </div>
                    <div class="team-info">
                        <h3>Enrico Thierbach</h3>
                        <span>Senior System Architect</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/beslinda.png" alt="Beslinda Neziri">
                    </div>
                    <div class="team-info">
                        <h3>Beslinda Neziri</h3>
                        <span>Senior Frontend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/arturs.png" alt="Arturs Meinarts">
                    </div>
                    <div class="team-info">
                        <h3>Arturs Meinarts</h3>
                        <span>Senior Backend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/silviu.png" alt="Silviu Pop">
                    </div>
                    <div class="team-info">
                        <h3>Silviu Pop</h3>
                        <span>Backend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/steffl.png" alt="Stefan Horning">
                    </div>
                    <div class="team-info">
                        <h3>Stefan Horning</h3>
                        <span>System Administration</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>